<!DOCTYPE html>
<html>
	<head>
		<title>Adviser</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<script language="javaScript" type="text/javascript" src="/scripts/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<a href="/profile" class="sign_out">Профиль</a>
			<br/>
			<a href="/signout" class="sign_out">Выход</a>
			<hr class="hr"/>
			<br/>
		</header>
		<main>
		
		</main>
		<footer>
		  <hr class="hr">
		  <p align="center">Penskoy I., BMSTU, 2016.</p>
		</footer>
	</body>
</html>
