<!DOCTYPE html>
<html>
	<head>
		<title>Adviser</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<script language="javaScript" type="text/javascript" src="/scripts/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<a href="/home" class="back_to_search">Назад к поиску</a>
			<hr class="hr"/>
		</header>
		<main>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-md-offset-4">
						<div id="user">
							<h1 class="text-center login-title">Информация о вас:</h1>
							<div class="signup-wall">
								<ul class="user-details">
									<li>Логин: </li>
									<li>Имя: </li>
									<li>Фамилия:</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</main>
		<footer>
			<hr class="hr">
			<p align="center">Penskoy I., BMSTU, 2016.</p>
		</footer>
	</body>
</html>